body{
    background-image: url(../img/fondos/threats.png); /*url relativa de donde "esta este archivo"*/
    background-size :cover; /*no repite la imagen y cubre el fondo*/
    background-color: silver;
}
img{
    height: 300px;
    width: 500px;
}
.cake img{
    width: 500px;
    height: 300px;
}
.tibu img{
    width: 250px;
    height: 150px;
}
.botonsin{
    color: brown;
    background-color: aliceblue;
    border: 50px solid aliceblue;
    border-radius: 30px;
    width: 20%;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    box-shadow: 8px 10px darkslategrey;
}
.botonsin:hover{
    background-color: yellow;
    border: 50px dotted aquamarine;
    text-decoration: none;
    color: red;
    box-shadow: 8px 10px yellowgreen;
}
 .sinl{
    text-decoration: none;
}
.botonsin p{
    display: none;
}
.instabg{
    background-color: palegreen;
    border-radius: 60px;
}